# Core Django Project
Django==5.2.4
django-environ==0.11.2
sqlparse==0.5.3
asgiref==3.9.1
pytz==2025.2

# Dev Tools
django-extensions==3.2.3
ipdb==0.13.13

# Testing
pytest==8.2.1
pytest-django==4.8.0
factory_boy==3.3.0
coverage==7.5.1

# Optional: If using PostgreSQL later
# psycopg[binary]==3.1.8
